#assignmentboxtext{
  color: grey;
  width: 200px;
  height: 25px;
  text-align: center;
  border-style: solid;
}

#addtask{
  background-color: #34A5DA;
  color: white;
  border-style: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 25px;
}

li {
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #34A5DA;
  color: white;
}

#container {
  margin: auto;
  width: 25%;
  padding-top: 100px;
  font-size: 20px;
  text-align: center;
  color: grey;
  font-weight: normal;
}

#taskbar {
  display: flex;
  justify-content: space-between;
}
